# Data Science Tools and Ecosystem

**In this notebook, Data Science Tools and Ecosystem are summarized**

**Objectives**
- List popular languages for Data Science
- List commonly used library used by Data Science
- List Data Science tools

## Author
Deepika

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. seaborn
4. sci-kit learn

| Data Science Tools |
| -----------------  |
| Hadoop             |
| Power BI           |
| TensorFlow         |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335